In [2]:
import pandas as pd
import numpy as np
from glob import glob

In [3]:
glob("*.txt")

['words.txt', 'CollinsScrabbleWords_2015.txt']

In [4]:
pd.read_csv('CollinsScrabbleWords_2015.txt')

                   AA
0                 AAH
1               AAHED
2              AAHING
3                AAHS
4                 AAL
5               AALII
6              AALIIS
7                AALS
8            AARDVARK
9           AARDVARKS
10           AARDWOLF
11         AARDWOLVES
12              AARGH
13             AARRGH
14            AARRGHH
15              AARTI
16             AARTIS
17                AAS
18           AASVOGEL
19          AASVOGELS
20                 AB
21                ABA
22               ABAC
23              ABACA
24             ABACAS
25              ABACI
26              ABACK
27              ABACS
28         ABACTERIAL
29          ABACTINAL
...               ...
276612     ZYMOLOGIST
276613    ZYMOLOGISTS
276614       ZYMOLOGY
276615      ZYMOLYSES
276616      ZYMOLYSIS
276617      ZYMOLYTIC
276618         ZYMOME
276619        ZYMOMES
276620      ZYMOMETER
276621     ZYMOMETERS
276622        ZYMOSAN
276623       ZYMOSANS
276624        ZYMOSES
276625    ZYMOSIMETER
276626   ZYMOSIMETERS
276627        ZYMOSIS
276628    ZYMOTECHNIC
276629  ZYMOTECHNICAL
276630   ZYMOTECHNICS
276631        ZYMOTIC
276632    ZYMOTICALLY
276633       ZYMOTICS
276634      ZYMURGIES
276635        ZYMURGY
276636         ZYTHUM
276637        ZYTHUMS
276638        ZYZZYVA
276639       ZYZZYVAS
276640            ZZZ
276641           ZZZS

[276642 rows x 1 columns]